<div class="sticky-header flex justify-between items-center mx-3" :class="$store.main.scrolled && 'scrolled'">
    <h1 class="text-xl font-medium my-2 text-gray-600">Mes paniers</h1>
    <button class="btn btn-sm" x-on:click="$store.addCartModal.toggle()">
        <i class="fas fa-plus mr-2"></i>
        Ajouter
    </button>
</div>
<div class="grid grid-cols-1 mx-3" x-data="$store.cart.carts">
    <template x-for="cart in $store.cart.carts" :key="cart.id">
        <div class="cart border-b border-gray-200 px-0 py-4 bg-white" @click="$store.routes.loadRoute('/carts/'+cart.id)">
            <div class="px-4 flex">
                <i class="far fa-basket-shopping text-lg text-gray-500"></i>
                <div class="flex flex-col justify-center px-2 py-1 w-full">
                    <div class="flex justify-between items-center ">
                        <div class="flex flex-col">
                            <h2 class="font-medium text-gray-500" x-text="cart.name"></h2>
                        </div>
                    </div>
                    <div class="flex pt-2  text-sm text-gray-500">
                        <div class="flex items-center mr-auto">
                            {% include '../score.html' with score="'b'" class='w-16 h-8 mx-auto' %}
                        </div>
                        <div class="flex items-center font-light text-gray-400" x-text="cart.created_at">
                        </div>
                        <div class="flex items-center font-light text-gray-400" x-text="cart.updated_at">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>
{% include "components/carts/add-cart-modal.html" %}
