<div class="sticky-header flex items-center mx-3" :class="$store.main.scrolled && 'scrolled'">
    <i class="fa fa-angle-left text-xl mr-4" @click="$store.routes.loadRoute('/carts/'+$store.cart.cart.id)"></i>
    <h1 class="text-xl font-medium my-2 text-gray-600 whitespace-nowrap text-ellipsis overflow-hidden"
        x-text="$store.product.product.title+($store.product.product.brands ? ' - '+$store.product.product.brands.split(',')[0] : '')"></h1>

</div>

<div class="mx-4 mt-4" x-show="$store.product.getRecalls().length > 0">
    <div class="alert alert-error flex-row shadow text-sm px-4 py-2">
        <div>
            <i class="fa-solid fa-triangle-exclamation"></i>
            <div>
                <h3 class="font-bold"><span x-text="$store.product.getRecalls().length"></span>
                    rappel<span x-text="$store.product.getRecalls().length > 1 ? 's' : ''"></span> conso.</h3>
            </div>
        </div>
        <div style="margin: 0 !important;">
            <button class="btn btn-sm" x-on:click="$store.recallInfoModal.toggle()">En savoir plus</button>
        </div>
    </div>
</div>

<div class="mx-4 mt-2" x-show="$store.product.getDispensations().length > 0">
    <div class="alert alert-warning flex-row shadow text-sm px-4 py-2">
        <div>
            <i class="fa-solid fa-triangle-exclamation"></i>
            <div>
                <h3 class="font-bold"><span x-text="$store.product.getDispensations().length"></span>
                    dérogation<span x-text="$store.product.getDispensations().length > 1 ? 's' : ''"></span> conso.</h3>
            </div>
        </div>
        <div style="margin: 0 !important;">
            <button class="btn btn-sm" x-on:click="$store.dispensationInfoModal.toggle()">En savoir plus</button>
        </div>
    </div>
</div>

<div x-data="$store.product" class="mx-6">

    <div class="w-full h-36 flex flex-col items-end relative rounded-xl shadow mt-6">
        <div class="blurred-image">
            <div :style="{'background-image': 'url('+product.image+')'}"></div>
        </div>
        <img :src="product.image"/>
    </div>
    <h2 class="text-xl font-bold mt-8 text-center" x-text="product.title"></h2>
    <h3 class="text-lg font-medium text-center"
        x-text="product.brands ? product.brands.split(',').join(' - ') : ''"></h3>
    <div class="flex items-center justify-center text-gray-400 m-auto text-center mb-4">
        <i class="fa-regular fa-barcode mr-1"></i><span
            x-text="product.ean"></span>
    </div>
    <div class="text-center" x-data="{hide: true}" :class="hide && 'hide-more'">
        <template x-for="(categorie, i) in product.categories">
            <span class="badge mx-1" x-text="categorie"
                  :class="i >= 4 && product.categories.length > 5 ? 'badge-more' : ''"></span>
        </template>
        <template x-if="product.categories && product.categories.length > 5">
            <span class="badge mx-1 badge-more bg-lime-500 border-lime-500"
                  x-text="(hide ? '+' + (product.categories.length - 4) + ' autres' : 'Réduire')"
                  @click="hide = !hide"></span>
        </template>
    </div>
    <div class="shadow mx-auto rounded-md py-3 bg-lime-30 mt-6">
        <h2 class="mx-auto text-center mb-2 !text-base font-bold">Score du produit</h2>
        <div class="w-auto grid grid-cols-3 gap-0 place-content-center mx-3">
            <div>
                <h2 class="mx-auto text-center mb-2 !text-sm font-bold text-center">Nutritionnel</h2>
                {% include '../score.html' with score="$store.product.product.mp_nutrim_score?.grade ?? 'na'" class='h-8 mx-auto' %}
            </div>
            <div>
                <h2 class="mx-auto text-center mb-2 !text-sm font-bold">Sanitaire</h2>
                {% include '../score.html' with score="$store.product.product.mp_sanit_score?.grade ?? 'na'" class='h-8 mx-auto' %}
            </div>
            <div>
                <h2 class="mx-auto text-center mb-2 !text-sm font-bold">Écologique</h2>
                {% include '../score.html' with score="$store.product.product.mp_eco_score?.grade ?? 'na'" class='h-8 mx-auto' %}
            </div>
        </div>
    </div>
    <template x-if="product.mp_nutrim_score && product.mp_nutrim_score.score > 0">
        <div class="overflow-x-auto mt-6 mb-8">
            <table class="table w-full">
                <!-- head -->
                <thead>
                <tr>
                    <th>Tableau nutritionnel</th>
                    <th>Pour 100g/100mL</th>
                </tr>
                </thead>
                <tbody>
                <template x-for="nutriment in $store.product.getNutritionFacts()">
                    <tr>
                        <td x-text="nutriment.name"></td>
                        <td class="text-center"><span class="badge mx-auto" x-text="nutriment.value" :class="nutriment.name.startsWith('Énergie') && 'badge-ghost'"></span></td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
    </template>
</div>