<div class="sticky-header flex justify-between items-center mx-3" :class="$store.main.scrolled && 'scrolled'">
    <h1 class="text-xl font-medium my-2 text-gray-600">Scan de produits</h1>
</div>
<div id="reader"></div>
<div class="modal modal-bottom" :class="$store.productModal.on && 'modal-open'">
    <div class="modal-box flex flex-col">
        <label @click="$store.productModal.toggle()" class="btn btn-sm btn-circle absolute right-2 top-2"><i
                class="far fa-times"></i></label>
        <div class="w-full h-36 flex flex-col items-end relative rounded-xl shadow mt-6">
            <div class="blurred-image">
                <div :style="{'background-image': 'url('+$store.productModal.product.image+')'}"></div>
            </div>
            <img :src="$store.productModal.product.image"/>
        </div>
        <h2 class="text-xl font-bold mt-8 text-center" x-text="$store.productModal.product.title"></h2>
        <h3 class="text-lg font-medium text-center"
            x-text="$store.productModal.product.brands ? $store.productModal.product.brands.split(',').join(' - ') : ''"></h3>
        <div class="flex items-center justify-center text-gray-400 m-auto text-center mb-4">
            <i class="fa-regular fa-barcode mr-1"></i><span
                x-text="$store.productModal.product.ean"></span>
        </div>
        <div class="shadow mx-auto rounded-md py-3 bg-lime-30 mt-1">
            <h2 class="mx-auto text-center mb-2 text-xl font-bold">Score du produit</h2>
            <div class="w-auto grid grid-cols-3 gap-0 place-content-center mx-3">
                <div>
                    <h2 class="mx-auto text-center mb-2 text-lg font-bold text-center">Nutritionnel</h2>
                    {% include '../score.html' with score="$store.main.getGradeFromScore($store.productModal.product.mp_nutrim_score?.score ?? 0)" class='h-8 mx-auto' %}
                </div>
                <div>
                    <h2 class="mx-auto text-center mb-2 text-lg font-bold">Sanitaire</h2>
                    {% include '../score.html' with score="$store.main.getGradeFromScore($store.productModal.product.mp_sanit_score?.score ?? 0)" class='h-8 mx-auto' %}
                </div>
                <div>
                    <h2 class="mx-auto text-center mb-2 text-lg font-bold">Écologique</h2>
                    {% include '../score.html' with score="$store.main.getGradeFromScore($store.productModal.product.mp_eco_score?.score ?? 0)" class='h-8 mx-auto' %}
                </div>
            </div>
        </div>
            <button class="btn mt-6" @click="$store.addProductToCartModal.toggle($store.productModal.product.ean)">
                Ajouter à un panier
            </button>
    </div>
</div>
