<div class="modal" x-data :class="$store.settingsModal.on && 'modal-open'">
    <div class="modal-box">
        <label @click="$store.settingsModal.toggle()" class="btn btn-sm btn-circle absolute right-2 top-2"><i class="far fa-times"></i></label>
        <h3 class="font-bold text-lg" x-text="$store.settingsModal.text"></h3>

        <div class="modal-action">
            <button class="btn btn-error" @click="$store.settingsModal.logout()">Se déconnecter</button>
        </div>
    </div>
</div>