<div class="modal" :class="$store.addProductToCartModal.on && 'modal-open'">
    <div class="modal-box">
        <label @click="$store.addProductToCartModal.toggle()" class="btn btn-sm btn-circle absolute right-2 top-2"><i
                class="far fa-times"></i></label>
        <h3 class="font-bold text-lg">Ajouter le produit à l'un de vos paniers</h3>
        <div class="form-control w-full max-w-xs">
            <label class="label">
                <span class="label-text">Dans quel panier souhaitez vous ajouter l'article?</span>
            </label>

            <select class="select w-full max-w-xs" x-on:change="$store.addProductToCartModal.selectedCart = $el.value">
                <option disabled selected>Choisissez votre panier</option>
                <template x-for="cart in $store.cart.carts" x-key="cart.id">

                    <option x-text="cart.name" :value="cart.id"></option>

                </template>
            </select>
            <button class="btn mt-4" @click="$store.addProductToCartModal.addToCart()">
                Ajouter au panier
            </button>
        </div>
    </div>

</div>
