<div class="sticky-header flex justify-between items-center mx-3" :class="$store.main.scrolled && 'scrolled'">
    <h1 class="text-xl font-medium my-2 text-gray-600">Recherche</h1>
</div>
<div class="searchbar mx-4 mt-3">
    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Rechercher un
        produit</label>
    <div class="relative">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <i class="fa-solid fa-magnifying-glass"></i></div>
        <input type="search" id="default-search" x-model="$store.search.text"
               class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 bg-gray-50"
               placeholder="Chercher un produit" required>
        <button type="submit"
                class="btn btn-sm absolute right-2.5 bottom-2.5 font-medium mb-[1px]"
                :class="(!$store.search.text || $store.search.isLoading) && 'btn-disabled'"
                @click="$store.search.search()">
            Rechercher
        </button>
    </div>
</div>
<div class="grid grid-cols-1 mx-3" x-data="$store.search.foods">
    <template x-for="food in $store.search.foods" :key="food.code">
        <div class="cart border-b border-gray-200 px-0 py-4 bg-white">
            <div class="px-4 flex">
                <div class="w-16 rounded-full my-auto mr-2">
                    <img :src="food.image_url"/>
                </div>
                <div class="flex flex-col justify-center px-2 py-1 w-full">
                    <div class="flex justify-between items-center ">
                        <div class="flex flex-col">
                            <h2 class="font-medium text-gray-500" x-text="food.product_name"></h2>
                        </div>
                    </div>
                    <div class="flex pt-2  text-sm text-gray-500">
                        <div class="flex items-center text-gray-400 mr-auto">
                            <i class="fa-regular fa-barcode mr-1"></i><span x-text="food.code"></span>
                        </div>

                    </div>

                </div>
                <div class="flex items-center">
                    <btn class="btn btn-sm  btn-circle btn-outline" @click="$store.search.add(food)">
                        <i class="fa-solid fa-cart-plus mr-0.5"></i>
                        <span class="sr-only">Ajouter à un panier</span></btn>
                </div>
            </div>
        </div>
    </template>
</div>
<div class="flex justify-center items-center mx-3" x-show="$store.search.isLoading">
    <div
            class="inline-block h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
            role="status">
    <span
            class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
    >Loading...</span
    >
    </div>
</div>
<div class="flex justify-center items-center mx-3" x-show="$store.search.foods.length > 0 && !$store.search.isLoading">
    <button class="btn btn-sm btn-outline" @click="$store.search.loadMore()">Charger plus</button>
</div>
<div class="flex justify-center items-center mx-3" x-show="$store.search.noResults && !$store.search.isLoading">
    <p class="text-gray-500">Aucun résultat</p>
</div>