<div class="divider">Fiche Produit</div>
<div class="card lg:card-side bg-white shadow-xl mt-6 ml-10 mr-10">
    <figure><img src="https://images.openfoodfacts.org/images/products/301/762/042/2003/front_fr.433.400.jpg"
                 alt="Album"/></figure>
    <div class="card-body">
        <h2 class="card-title">Pâte à tartiner Nutella noisettes et cacao - Ferrero - 400 g</h2>
        <p>Code-barres: 3017620422003 (EAN / EAN-13) <br>
            Catégories : Pâtes à tartiner aux noisettes et au cacao</p>
        <div class="card-actions justify-start">

            <div class="stats  text-primary-content">

                <div class="stat">
                    <div class="stat-title">Score Nutritionnel</div>
                    <div class="stat-value">8.75</div>

                </div>

                <div class="stat">
                    <div class="stat-title">Score Sanitaire</div>
                    <div class="stat-value">6</div>
                </div>

                <div class="stat">
                    <div class="stat-title">Score Eco</div>
                    <div class="stat-value">3</div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="divider">Tableau nutrionnel</div>

<div class="card lg:card-side bg-white shadow-xl mt-6 ml-10 mr-10">
    <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8" style="padding: 20px">
            <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <table class="min-w-full text-left text-sm font-light">
                        <thead class="border-b font-medium dark:border-neutral-500">
                        <tr>
                            <th>Tableau nutritionnel</th>
                            <th>Tel que vendu pour 100 g / 100ml</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>energy_kj_100g</td>
                            <td> 2252 <!-- energy_kj_100g --> </td>
                        </tr>

                        <tr>
                            <td>energy_kcal_100g</td>
                            <td> 539 <!-- energy_kcal_100g --></td>
                        </tr>

                        <tr>
                            <td>energy_100g</td>
                            <td> 2252 <!-- energy_100g --> </td>
                        </tr>

                        <tr>
                            <td>fat_100g</td>
                            <td> 30.9 <!-- fat_100g --> </td>
                        </tr>

                        <tr>
                            <td>saturated_fat_100g</td>
                            <td> 10.6 <!-- saturated_fat_100g --></td>
                        </tr>

                        <tr>
                            <td>carbohydrates_100g</td>
                            <td> 57.5 <!-- carbohydrates_100g --></td>
                        </tr>

                        <tr>
                            <td>sugars_100g</td>
                            <td> 56.3 <!-- sugars_100g --> </td>
                        </tr>

                        <tr>
                            <td>proteins_100g</td>
                            <td> 6.3 <!--proteins_100g --></td>
                        </tr>

                        <tr>
                            <td>salt_100g</td>
                            <td> 0.107 <!-- salt_100g --></td>
                        </tr>

                        <tr>
                            <td>sodium_100g</td>
                            <td> 0.0428 <!-- sodium_100g --> </td>
                        </tr>

                        <tr>
                            <td>alcohol_100g</td>
                            <td>0 <!-- alcohol_100g --></td>
                        </tr>

                        <tr>
                            <td>fruits_vegetables_nuts_100g</td>
                            <td>0 <!-- fruits_vegetables_nuts_estimate_from_ingredients_100g --></td>
                        </tr>

                        <tr>
                            <td>nutrition_score_fr_100g</td>
                            <td> 26 <!-- nutrition_score_fr_100g--></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



