{% load webpack_static from webpack_loader %}
<div class="sticky-header flex justify-between items-center mx-3" :class="$store.main.scrolled && 'scrolled'">
    <h1 class="text-xl font-medium my-2 text-gray-600">Explorer</h1>
    <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-sm">
            <i class="fas fa-calendar-alt mr-2"></i>
            Filtrer
        </label>
        <ul tabindex="0"
            class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-56 mt-4 bg-lime-30/80 backdrop-blur">
            <li><a :class="!$store.dashboard.isLastYearAnalysis && 'font-bold'"
                   @click="$store.dashboard.toggleLastYearAnalysis(false)">Depuis 30 jours</a></li>
            <li><a :class="$store.dashboard.isLastYearAnalysis && 'font-bold'"
                   @click="$store.dashboard.toggleLastYearAnalysis(true)">Depuis 1 an</a></li>
        </ul>
    </div>
</div>
<div class="stats-container mx-4 w-auto mt-4">
    <h2 class="text-lg font-medium my-2 text-gray-600">En bref <span class="text-gray-500"
                                                                     x-text="$store.dashboard.isLastYearAnalysis ? '(depuis 1 an)' : '(depuis 30 jours)'"></span>
    </h2>
    <p class="mx-2">Mon panier est une application web permettant d'évaluer le risque sanitaire, la provenance et la
        qualité
        nutritionnelle des produits alimentaires achetés en France. </p>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 place-content-center">
        <div class="stats shadow w-full cursor-pointer" @click="$store.dashboard.toggleRecallsEvolutionModal()">
            <div class="stat">
                <div class="stat-figure text-lime-500">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         class="inline-block w-8 h-8 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                </div>
                <div class="stat-title">Nombre de produits rappelés</div>
                <div class="stat-value"
                     x-text="$store.dashboard.isLastYearAnalysis ? $store.dashboard.stats.recalls.last_year : $store.dashboard.stats.recalls.last_month"></div>
            </div>
        </div>
        <div class="stats shadow w-full cursor-pointer" @click="$store.dashboard.toggleRecallsCategoriesModal()">
            <div class="stat">
                <div class="stat-figure text-lime-500">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         class="inline-block w-8 h-8 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                </div>
                <div class="stat-title">Catégorie la plus rappelée</div>

                <div class="stat-value text-lg"
                     x-text="$store.dashboard.isLastYearAnalysis ? $store.dashboard.stats.recalls.categories.last_year_data[0].sous_categorie_de_produit : $store.dashboard.stats.recalls.categories.last_month_data[0].sous_categorie_de_produit"></div>

            </div>
        </div>
        <div class="stats shadow w-full cursor-pointer" @click="$store.dashboard.toggleDispensationsEvolutionModal()">
            <div class="stat">
                <div class="stat-figure text-lime-500">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         class="inline-block w-8 h-8 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                </div>
                <div class="stat-title">Nombre de dérogations</div>
                <div class="stat-value"
                     x-text="$store.dashboard.isLastYearAnalysis ? $store.dashboard.stats.dispensations.last_year : $store.dashboard.stats.dispensations.last_month"></div>
            </div>
        </div>
        <div class="stats shadow w-full cursor-pointer" @click="$store.dashboard.toggleDispensationsCategoriesModal()">

            <div class="stat">
                <div class="stat-figure text-lime-500">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         class="inline-block w-8 h-8 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                </div>
                <div class="stat-title">Catégorie la plus dérogée</div>
                <div class="stat-value text-lg"
                     x-text="$store.dashboard.isLastYearAnalysis ? $store.dashboard.stats.dispensations.categories.last_year_data[0].categorie_du_produit_rayon : $store.dashboard.stats.dispensations.categories.last_month_data[0].categorie_du_produit_rayon"></div>
            </div>
        </div>
    </div>
</div>
<div class="stats-container mx-4 w-auto mt-4">
    <h2 class="text-lg font-medium my-2 text-gray-600 pb-2">Mes paniers</h2>
        <div class="stats shadow w-full cursor-pointer">

            <div class="stat">
                <div class="stat-figure text-lime-500">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         class="inline-block w-8 h-8 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                </div>
                <div class="stat-title">Nombre de paniers</div>
                <div class="stat-value">42</div>
            </div>
        </div>
    <div class="shadow rounded-md py-3 bg-lime-30 mt-2">
        <h2 class="mx-auto text-center mb-2 text-xl font-bold">Score des paniers</h2>
        {% include '../score.html' with score="$store.main.getGradeFromScore($store.dashboard.stats.carts_scores.mp_global_score__avg)" class='h-16 mx-auto' %}
        <div class="w-auto grid grid-cols-3 gap-0 place-content-center mx-3">
            <div>
                <h2 class="mx-auto text-center mb-2 text-lg font-bold text-center">Nutritionnel</h2>
                {% include '../score.html' with score="$store.main.getGradeFromScore($store.dashboard.stats.carts_scores.mp_nutrim_score__avg)" class='h-8 mx-auto' %}
            </div>
            <div>
                <h2 class="mx-auto text-center mb-2 text-lg font-bold">Sanitaire</h2>
                {% include '../score.html' with score="$store.main.getGradeFromScore($store.dashboard.stats.carts_scores.mp_sanit_score__avg)" class='h-8 mx-auto' %}
            </div>
            <div>
                <h2 class="mx-auto text-center mb-2 text-lg font-bold">Écologique</h2>
                {% include '../score.html' with score="$store.main.getGradeFromScore($store.dashboard.stats.carts_scores.mp_eco_score__avg)" class='h-8 mx-auto' %}
            </div>
        </div>
    </div>
</div>
<div class="stats-container mx-4 w-auto my-12">
    <h2 class="text-lg font-medium my-2 text-gray-600">En savoir plus</h2>
    <ul class="flex flex-col pb-6">
        <li class="bg-white my-2 shadow rounded-md" x-data="accordion(1)">
            <h3
                    @click="handleClick()"
                    class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer"
            >
                <span>Comment le pilier nutritionnel est-il calculé&nbsp;?</span>
                <svg
                        :class="handleRotate()"
                        class="fill-current text-lime-500 h-6 w-6 transform transition-transform duration-500"
                        viewBox="0 0 20 20"
                >
                    <path d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10"></path>
                </svg>
            </h3>
            <div
                    x-ref="tab"
                    :style="handleToggle()"
                    class="border-l-2 border-lime-600 overflow-hidden max-h-0 duration-500 transition-all"
            >
                <p class="p-3 text-gray-900">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
                </p>
            </div>
        </li>
        <li class="bg-white my-2 shadow rounded-md" x-data="accordion(2)">
            <h3
                    @click="handleClick()"
                    class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer"
            >
                <span>Comment le pilier sanitaire est-il calculé&nbsp;?</span>
                <svg
                        :class="handleRotate()"
                        class="fill-current text-lime-500 h-6 w-6 transform transition-transform duration-500"
                        viewBox="0 0 20 20"
                >
                    <path d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10"></path>
                </svg>
            </h3>
            <div
                    x-ref="tab"
                    :style="handleToggle()"
                    class="border-l-2 border-lime-600 overflow-hidden max-h-0 duration-500 transition-all"
            >
                <p class="p-3 text-gray-900">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
                </p>
            </div>
        </li>
        <li class="bg-white my-2 shadow rounded-md" x-data="accordion(3)">
            <h3
                    @click="handleClick()"
                    class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer"
            >
                <span>Comment le pilier écologique est-il calculé ?</span>
                <svg
                        :class="handleRotate()"
                        class="fill-current text-lime-500 h-6 w-6 transform transition-transform duration-500"
                        viewBox="0 0 20 20"
                >
                    <path d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10"></path>
                </svg>
            </h3>
            <div
                    x-ref="tab"
                    :style="handleToggle()"
                    class="border-l-2 border-lime-600 overflow-hidden max-h-0 duration-500 transition-all"
            >
                <p class="p-3 text-gray-900">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
                </p>
            </div>
        </li>
    </ul>
</div>


{% include "components/dashboard/recalls-evolution-modal.html" %}
{% include "components/dashboard/recalls-categories-modal.html" %}
{% include "components/dashboard/dispensations-evolution-modal.html" %}
{% include "components/dashboard/dispensations-categories-modal.html" %}
