{% extends 'base.html' %}
{% load webpack_static from webpack_loader %}
{% block content %}
    <div class="navbar">
        <div class="navbar-start">
            <img src="{% webpack_static 'logo.png' %}" class="w-10" alt="logo"/>
        </div>
        <div class="navbar-center">
            <a class="btn btn-ghost normal-case text-xl">Mon Panier</a>
        </div>
        <div class="navbar-end">
        </div>
    </div>
    <div class="container mx-auto">
        <div :class="{ 'hidden': $store.routes.activeTab !== 0 }">
            {% include "components/dashboard/dashboard.html" %}
        </div>
        <div :class="{ 'hidden': $store.routes.activeTab !== 1 }">
            {% include "components/carts/carts.html" %}
        </div>
        <div :class="{ 'hidden': $store.routes.activeTab !== 2 }">
            {% include "components/scan/scan.html" %}
        </div>
        <div :class="{ 'hidden': $store.routes.activeTab !== 3 }">
            {% include "components/settings/settings.html" %}
        </div>
    </div>
    {% include "components/header.html" %}
{% endblock %}