{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div :class="{ 'hidden': $store.routes.activeTab !== 0 }">
            {% include "components/dashboard/dashboard.html" %}
        </div>
        <div :class="{ 'hidden': $store.routes.activeTab !== 1 }">
            {% include "components/carts/carts.html" %}
        </div>
        <div :class="{ 'hidden': $store.routes.activeTab !== 2 }">
            {% include "components/scan/scan.html" %}
        </div>
        <div :class="{ 'hidden': $store.routes.activeTab !== 3 }">
            {% include "components/settings/settings.html" %}
        </div>
    </div>
    {% include "components/header.html" %}
{% endblock %}