{% extends 'base.html' %}
{% load webpack_static from webpack_loader %}
{% block content %}
    <div class="navbar" :class="$store.main.scrolled && 'scrolled'">
        <div class="navbar-start">
            <img src="{% webpack_static 'logo.png' %}" class="w-8" alt="logo"/>
        </div>
        <div class="navbar-center">
            <a class="btn btn-ghost normal-case text-xl">MonPanier</a>
        </div>
        <div class="navbar-end">
            <button @click="$store.settingsModal.toggle()"
                    :class="{ 'active': $store.settingsModal.on }">
            <span>
                <i class="far fa-cogs"></i>
            </span>
            </button>
        </div>
    </div>
    <div class="scrollview">
        <!--<progress class="progress w-1/2 fixed top-12 mx-auto left-0 right-0" style="z-index: 99"></progress>-->
        <div class="container mx-auto">
            <div :class="{ 'hidden': $store.routes.activeTab !== 0 }" class="content-dashboard">
                <div :class="{ 'hidden': $store.routes.activeTab !== 0 || $store.routes.activeRoute !== 0 }">
                    {% include "components/dashboard/dashboard.html" %}
                </div>
            </div>
            <div :class="{ 'hidden': $store.routes.activeTab !== 1 }" class="content-carts">
                <div :class="{ 'hidden': $store.routes.activeTab !== 1 || $store.routes.activeRoute !== 0 }">
                    {% include "components/carts/carts.html" %}
                </div>
                <div :class="{ 'hidden': $store.routes.activeTab !== 1 || $store.routes.activeRoute !== 1 }">
                    {% include "components/carts/cart-details.html" %}
                </div>
                <div :class="{ 'hidden': $store.routes.activeTab !== 1 || $store.routes.activeRoute !== 2 }">
                    {% include "components/carts/product.html" %}
                </div>
            </div>
            <div :class="{ 'hidden': $store.routes.activeTab !== 2 }" class="content-scan">
                {% include "components/scan/scan.html" %}
            </div>
            <div :class="{ 'hidden': $store.routes.activeTab !== 3 }" class="content-search">
                {% include "components/search/search.html" %}
            </div>
        </div>
    </div>
    {% include "components/settings/settings.html" %}
    {% include "components/login-modal.html" %}
    {% include "components/add-product-cart-modal.html" %}
    {% include "components/header.html" %}
{% endblock %}