{% csrf_token %}
{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}
{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as language_code %}

<html lang="{{ language_code }}">

<head>
    <title>{% spaceless %}{% block title %}MonPanier - Transparence alimentaire{% endblock %}{% endspaceless %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <link rel="icon" type="image/png" href="{% webpack_static 'logo.png' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% webpack_static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% webpack_static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% webpack_static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% webpack_static 'site.webmanifest' %}">
</head>

<body>
  <div class="flex h-full antialiased overflow-x-hidden text-base-content"  x-data="{ activeTab:  0 }">
    <div class="{% block page_wrapper_class %}h-full w-full overflow-hidden fixed{% endblock %}">
      {% block content %}{% endblock %}
    </div>
  </div>
    {% render_bundle 'main' 'js' %}
</body>
</html>