{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}
{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as language_code %}

<html lang="{{ language_code }}">

<head>
    <title>{% spaceless %}{% block title %}MonPanier - Transparence alimentaire{% endblock %}{% endspaceless %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{% webpack_static 'logo.png' %}" />
</head>

<body>
<div>
  <div class="flex h-screen antialiased overflow-x-hidden bg-base-200 text-base-content pa-20"  x-data="{ activeTab:  0 }">
    <div class="{% block page_wrapper_class %}h-full w-full {% endblock %}">
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
{% render_bundle 'main' 'js' %}
</body>
</html>